* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.layout-wrapper {
    min-height: 100vh;
}

.wave-text span,
.wave-text-small span {
  display: inline-block;
  animation: wave 1.5s infinite ease-in-out;
}

.wave-text span:nth-child(odd) {
  animation-delay: 0s;
}
.wave-text span:nth-child(even) {
  animation-delay: 0.3s;
}

@keyframes wave {
  0%, 100% {
    transform: translateY(0px);
    color: #ffffff;
  }
  50% {
    transform: translateY(-8px);
    color: #d40e00;
  }
}

/* wave-text หน้า card */
.wave-text-small span {
  animation-duration: 2s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes winnerBounce {
  0% {
    opacity: 0;
    transform: scale(0.5) translateY(20px);
  }
  60% {
    opacity: 1;
    transform: scale(1.1) translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}

.winner-animate {
  animation: winnerBounce 0.6s ease-out forwards;
}
